/* Universal selector */
 *{ 
    /* color: red; */
    margin: 0;
    padding: 0;
 } 

/* tag selector/element selector */
h1{
    color: blue;
    text-align: center;
}
/* Attribute selecter */
a[title="Google"]{
    color:green;
}
a[title="Facebook"]{
    color:green;
}

/* id selector */
#idselector{
    color: blue;
    font-size: 50px;
}
/* class selector */
.classselector{
    color: red;
    text-transform: capitalize;
    font-size: 20px;
    text-indent: 50px;
}

/* Descendant Selector */
.desc a{
    color: red;
}

/* Child Selector */
.child>a{
    color: red;
}

/* pseudo */
a:link{
    color: red;
    text-decoration: none;
}
a:hover{
    color: green;
    letter-spacing: 10px;

}
a:active{
    color:blue;
    font-size: 20px;

}
a:visited{
    color: purple;
}

/* :target */

:target{
    color:red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Border */
.borderOne{
    border: 2px double green;
    /* size style color */
}
.borderTwo{
    border-top: 5px solid red;
    /* border-bottom: 5px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red; */
}
/* border width */
.borderThree{
    border-style: solid;
    /* border-width: 10px; */
    /* T/R/B/L */
    /* border-width: 5px 50px; */
    /* T&B/    L/R */
    /* border-width: 5px 10px 50px; */
    /* T/ L&R/ B */
    border-width: 5px 10px 15px 20px;
    /* T/R/B/L */
}
.borderFour{
    /* border-style: solid; */
    /* border-style: dotted solid; */
    /* border-style: dotted dashed solid double; */
    border-style: dotted dashed solid double;
    border-width: 5px;
    border-color: green yellow red blue;
}
/* Margin */
.marginOne{
    border: 2px solid red;
    /* margin: 50px 0px 0px 0px; */
    margin-top: 50px;

}
/* padding */
.paddingOne{
    border: 2px solid red;
    /* padding: 50px; */
    padding-left: 50px;
}

/* Inline Layout */
.inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block{
    border: 2px solid green;
    width: 300px;
    display: inline-block;
}

/* Float */
.FRimg{
    width: 50%;
    float: right;
}
.clear{
    clear: both;
}
.FLimg{
    width: 50%;
    float: left;
}

/* Flex */
.flex{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* top button */
    justify-content: center;
    height: 100px;
    background-color: red;
}
/* grid */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto; */
    color: #ffffff;
    /* grid-row-gap: 40px; */
    /* grid-column-gap: 30px; */
    grid-gap: 30px;

}
.grid_child{
    padding: 20px;
    text-align: center;
}